# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
package-lock.json
node_modules/
**/node_modules/


# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/frontend/.env*

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

#OS Files
/frontend/.DS_Store
/frontend/Thumbs.db

# Node modules
/backend/node_modules

# Logs
/backend/logs/
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Environment variables
/backend/.env

# Build output
/backend/dist/
/backend/build/

/backend/jspm_packages/

/backend/.npm

/backend/.eslintcache

/backend/.node_repl_history

# IDEs and editors
/backend/.vscode/
/backend/.idea/
/backend/*.suo
/backend/*.ntvs*
/backend/*.njsproj
/backend/*.sln
/backend/*.sw?

# Operating system files
/backend/.DS_Store
/backend/Thumbs.db

.DS_Store
Thumbs.db
.ropeproject
node_modules
